dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

dt,
dd {
  margin-top: -1px;
  padding: 10px 0;
  float: left;
  border-top: 1px solid black;
}

dl {
  width: 980px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  overflow: hidden;
  *zoom: 1;
}

dt {
  width: 300px;
  font-weight: bold;
  clear: both;
}

dd {
  width: 680px;
}

p {
  font-size: 16px;
  line-height: 20px;
}

strong {
  font-size: 50px;
  line-height: 70px;
}

.box {
  width: 100px;
  height: 250px;
  background: red;
}
