// Utilities

// font-height
@mixin font-height($font-size, $line-height)
  font-size: $font-size
  line-height: $line-height / $font-size

// hide text
@mixin hide-text
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

